<div class="section">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner  blur">
        <div class="item active">
          <div class="fill">
            <%= image_tag 'slide1.jpg', class: 'fill' %>
          </div>
          <div class="carousel-caption">
            <h1>Retail Insights</h1>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <%= image_tag('slide2.jpg', class: 'fill') %>
          </div>
          <div class="carousel-caption">
            <h1>Influence Consumer</h1>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <%= image_tag('slide3.jpg', class: 'fill') %>
          </div>
          <div class="carousel-caption">
            <h1>Boost Revenue</h1>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <%= image_tag('slide4.jpg', class: 'fill') %>
          </div>
          <div class="carousel-caption">
            <h1>Retail Insights</h1>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <%= image_tag('slide5.jpg', class: 'fill') %>
          </div>
          <div class="carousel-caption">
            <h1>Influence Comsumer</h1>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <%= image_tag('slide6.jpg', class: 'fill') %>
          </div>
          <div class="carousel-caption">
            <h1>Boost Revenue</h1>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
</div>

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-mobile"></i> Mobile Ready</h3>
        <p>
          Retail Mapper allows you to visualize point of sale material in real time.
          <br/>
          It’s fun and easy to use. Simply choose a retail location and snap a photo
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-cloud"></i> Enterprise Grade</h3>
        <p>
          Services include training, merchandising, consulting and analytics, all aimed at optimizing the at-retail buying experience Leverage mobile and the cloud to support your brick and mortar retailers.
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-pencil"></i> Customized</h3>
        <p>Customized turnkey retail programs to position lottery products and engage consumers.  Visualize your retail network like never before.</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>Retail Mapper is a key ingredent in the recipe for retail success, it provides insight, vision, and an executable roadmap in one simple application</h4>
      <p>For more information about Retail Mapper, visit Mobile Application!</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="https://itunes.apple.com/us/app/retail-mapper/id650172619?mt=8" target="_blank">See The Mobile App</a>
    </div>
  </div>
  <!-- /.row -->

</div>
